@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    width: 100vw;
    height: 100vh;
    background-color: #4de2cc;
    text-align: center;
    color: #2d3831;
    font-family: "Roboto", sans-serif;
}

.trigger {
    background-color: transparent;
    border: 1px solid #2d3831;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    font-size: 16px;
}

h1 {
    text-transform: uppercase;
}

.tweet {
    display: block;
    width: 120px;
    border: 1px solid #2d3831;
    border-radius: 5px;
    text-decoration: none;
    color: #2d3831;
    margin: 20px auto;
    font-size: 16px;
}

